<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="d8d5793aa2f441cbb8d642080cecd554" class="chart-container" style="width:2000px; height:1000px;"></div>
    <script>
        var chart_d8d5793aa2f441cbb8d642080cecd554 = echarts.init(
            document.getElementById('d8d5793aa2f441cbb8d642080cecd554'), 'light', {renderer: 'canvas'});
        var option_d8d5793aa2f441cbb8d642080cecd554 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "series": [
        {
            "type": "bar",
            "name": "svc",
            "data": [
                61.82
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": "{c} %"
            }
        },
        {
            "type": "bar",
            "name": "lR",
            "data": [
                50.91
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": "{c} %"
            }
        },
        {
            "type": "bar",
            "name": "adaBoost",
            "data": [
                40.0
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": "{c} %"
            }
        },
        {
            "type": "bar",
            "name": "DT",
            "data": [
                49.09
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": "{c} %"
            }
        },
        {
            "type": "bar",
            "name": "NB",
            "data": [
                52.73
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": "{c} %"
            }
        }
    ],
    "legend": [
        {
            "data": [
                "svc",
                "lR",
                "adaBoost",
                "DT",
                "NB"
            ],
            "selected": {
                "svc": true,
                "lR": true,
                "adaBoost": true,
                "DT": true,
                "NB": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u7cbe\u786e\u5ea6\u5747\u5206"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u5206\u7c7b\u51c6\u786e\u5ea6\u6307\u6807\u5bf9\u6bd4",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_d8d5793aa2f441cbb8d642080cecd554.setOption(option_d8d5793aa2f441cbb8d642080cecd554);
    </script>
</body>
</html>
