<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="cf9448e5b5a44e70a68c3f87babaeecc" class="chart-container" style="width:2000px; height:1000px;"></div>
    <script>
        var chart_cf9448e5b5a44e70a68c3f87babaeecc = echarts.init(
            document.getElementById('cf9448e5b5a44e70a68c3f87babaeecc'), 'light', {renderer: 'canvas'});
        var option_cf9448e5b5a44e70a68c3f87babaeecc = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "series": [
        {
            "type": "bar",
            "name": "svr",
            "data": [
                8.263036484599255
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "adaBoostR",
            "data": [
                10.509514620573018
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "Lasso",
            "data": [
                11.601376435168637
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "LGBM",
            "data": [
                12.594897010131238
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "svr",
                "adaBoostR",
                "Lasso",
                "LGBM"
            ],
            "selected": {
                "svr": true,
                "adaBoostR": true,
                "Lasso": true,
                "LGBM": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "mean abs error \u5747\u5206"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u56de\u5f52\u6a21\u578b\u5e73\u5747\u7edd\u5bf9\u8bef\u5dee\u6307\u6807\u5bf9\u6bd4",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_cf9448e5b5a44e70a68c3f87babaeecc.setOption(option_cf9448e5b5a44e70a68c3f87babaeecc);
    </script>
</body>
</html>
