<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="5994dcc2f1274df8b2b35c4f260fa622" class="chart-container" style="width:2000px; height:1000px;"></div>
    <script>
        var chart_5994dcc2f1274df8b2b35c4f260fa622 = echarts.init(
            document.getElementById('5994dcc2f1274df8b2b35c4f260fa622'), 'light', {renderer: 'canvas'});
        var option_5994dcc2f1274df8b2b35c4f260fa622 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "series": [
        {
            "type": "bar",
            "name": "svr",
            "data": [
                82.98
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": "{c} %"
            }
        },
        {
            "type": "bar",
            "name": "svc",
            "data": [
                44.86
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": "{c} %"
            }
        },
        {
            "type": "bar",
            "name": "lR",
            "data": [
                30.45
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": "{c} %"
            }
        },
        {
            "type": "bar",
            "name": "adaBoostR",
            "data": [
                42.9
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": "{c} %"
            }
        },
        {
            "type": "bar",
            "name": "adaBoost",
            "data": [
                27.54
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": "{c} %"
            }
        },
        {
            "type": "bar",
            "name": "Lasso",
            "data": [
                72.13
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": "{c} %"
            }
        },
        {
            "type": "bar",
            "name": "DT",
            "data": [
                39.31
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": "{c} %"
            }
        },
        {
            "type": "bar",
            "name": "NB",
            "data": [
                40.7
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": "{c} %"
            }
        },
        {
            "type": "bar",
            "name": "LGBM",
            "data": [
                63.44
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": "{c} %"
            }
        }
    ],
    "legend": [
        {
            "data": [
                "svr",
                "svc",
                "lR",
                "adaBoostR",
                "adaBoost",
                "Lasso",
                "DT",
                "NB",
                "LGBM"
            ],
            "selected": {
                "svr": true,
                "svc": true,
                "lR": true,
                "adaBoostR": true,
                "adaBoost": true,
                "Lasso": true,
                "DT": true,
                "NB": true,
                "LGBM": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "F1/R2\u5747\u5206"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "R2\u3001AC\u51b3\u5b9a\u7cfb\u6570\u5bf9\u6bd4\u56fe",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_5994dcc2f1274df8b2b35c4f260fa622.setOption(option_5994dcc2f1274df8b2b35c4f260fa622);
    </script>
</body>
</html>
